<html>
<head>
<title>:: Detail of user ::</title>

<script type="text/javascript"
	src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#btnCancel').click(function() {
			window.location.href = "./home";
		});
	});
</script>
</head>
<body>

	<table>
		#foreach( $user in $users )
		<tr>
			<td>Nama</td>
			<td>$user.Username</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>$user.Email</td>
		</tr>
		#end

	</table>

	<button type="button" id="btnCancel" onclick="javascript:back()">Back
	</button>
</body>

</html>