<html>
<head>
<title>:: List of All Person ::</title>

<link rel="stylesheet" type="text/css"
	href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
<script type="text/javascript"
	src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript"
	src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

<script type="text/javascript">
	$(document).ready(function() {

		$("#example").dataTable({
			"bProcesing" : true,
			"bServerSide" : true,
			 "bLenthChange" : false,
			 "iDisplayLength" : 10,
			"sAjaxSource" : "./home2",
			"aoColumns" : [ {
				"sTitle" : "User ID",
				"mData" : "id"
			},{
				"sTitle" : "Username",
				"mData" : "username"
			}, {
				"sTitle" : "Password",
				"mData" : "password"
			}, {
				"sTitle" : "Email",
				"mData" : "email"
			},{			
			
				"mData" : "null",
			    "sClass" : "center",
			    "sDefaultContent" :  '<input type="checkbox" name="aCheckBox" class="dt_checked"/>'
			  		
			},
			
			],
			
			"fnServerData" : function(sSource, aoData, fnCallback) {
				    $.ajax({
				     "dataType" : 'json',
				     "type" : "GET",
				     "url" : sSource,
				     "data" : aoData,
				     "success" : fnCallback
				    });
				   },
				   "sPaginationType" : "full_numbers"

		});

	});
</script>

</head>
<body>

	<table width="70%" style="border: 3px; background: rgb(243, 244, 248);">
		<tr>
			<td>
				<table id="example" class="display" cellspacing="0" width="100%">
					<tr>
						<th>id</th>
						<th>Name</th>
						<th>Password</th>
						<th>Email</th>	
						<th>Action</th>						
					</tr>

					<!-- #foreach($user in $userList)
					<tr>
						<td>$user.username</td>
						<td>$user.password</td>
						<td>$user.email</td>
						<td><a href="personform?person_id=$person.Id">edit</a> | <a
							href="userdetail?user_id=$user.Id">view</a></td>
					</tr>
					#end
 -->
				</table>
			</td>
		</tr>
	</table>
</body>
</html>